@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #D9D9D9;
    padding: 0 30px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100%;
    height: 50px;
}

.logo svg {
    width: 45px;
    height: 45px;
    margin-left: 50px;
}

.logo h2 {
    font-size: 19px;
    margin-left: 30px;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-content h2 {
    font-size: 19px;
    margin-right: 10px;
}

.header-content p {
    font-size: 15px;
}

.header-content svg {
    cursor: pointer; 
    margin-bottom: 20px;
}

.info{
display: flex;
flex-direction: column;
}


.options-card {
    margin-right: 30px;
    height: 190px;
    width: 300px;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
}

.options-list {
    list-style: none;
    padding: 0;
}

.options-list li {
    padding: 15px 0;
    cursor: pointer;
}



.options-card.show {
    display: block;
}

.options-card p {
    margin-bottom: 10px;
}

.options-card ul {
    border-top: 1px solid #D9D9D9;
}

.options-list li {
    font-size: 15px;
    padding-left: 10px;
   
    
}

.options-list a{
    color: black;
}

.options-list li.logout{
display: flex;
align-items: center;
margin-bottom: 0;


}

.logout svg {
    width:18px;
    height: 18px;
    margin-left: 1px;
    margin-top: 14px;
    vertical-align: middle;
}

@media (max-width: 768px) {
    header {
        flex-direction: column; /* Para empilhar os elementos verticalmente */
        padding: 10px; /* Ajustar o espaçamento interno para melhorar a visualização */
        height: auto; /* Redefinir a altura para se ajustar ao conteúdo */
    }

    .logo {
        justify-content: center; /* Centralizar o logo verticalmente */
        margin-bottom: 10px; /* Adicionar um espaço entre o logo e a header-content */
    }

    .logo img {
        width: 100%;
        height: 30px;
    }

    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; /* mudança aqui*/
    }

    .header-content {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        align-items: center; /* Centralizar horizontalmente */ 
    }

    .options-card {
        margin-left: 35px;
        height: 190px;
        width: 330px;
        top: 130px; /* Afastar o card da parte superior */
        left: 0; /* Alinhar o card à esquerda */
        padding: 10px; /* Ajustar o espaçamento interno para melhorar a visualização */
    }


   .options-list{
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   }
   
   li.option-item{
    padding: 20px 15px;
   }

   li.logout{
    padding: 5px;
   }

    .options-list li {
        cursor: pointer;       
    }

    .options-list li.logout{
       text-align: center;
       display: flex;
       
       justify-content: center;
    }

   
}
